@import url('https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100;200;300;400;500;600;700;800&display=swap');

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #333;
    z-index: 9999;
}

.heading{
  display: flex;
  justify-content: space-between;
}

.score{
  display: inline-block;
  font-size: 32px;
  font-weight: 500;
  color: #1d7b87;
}

.quiz-container {
  max-width: 500px;
  min-width: 250px;
  background: #ffffff;
  border-radius: 4px;
  margin-top: 100px;
  padding: 30px 60px;
  margin-left: 30%;
}

.quiz-container .active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #1d7b87;
}

.quiz-container .total-question {
  font-size: 16px;
  font-weight: 500;
  color: #e0dee3;
}

.quiz-container h2 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.quiz-container ul {
  margin-top: 20px;
  margin-left: -40px;
}

.quiz-container ul li {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 16px;
  padding: 11px;
  margin-top: 15px;
  cursor: pointer;
}

.quiz-container ul .selected-answer {
  background: #63bdc9;
  border: 1px solid #1d7b87;
}

.quiz-container button {
  background: linear-gradient(90.04deg, #1d7b87 0.03%, #63bdc9 99.96%);
  border-radius: 9px;
  font-size: 18px;
  color: #ffffff;
  padding: 10px 42px;
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.quiz-container button:disabled {
  background: #e7e8e9;
  color: #9fa3a9;
  cursor: not-allowed;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result p span {
  color: #1d7b87;
  font-size: 22px;
}

.quiz-container ul .selected-answer {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }
  
  .quiz-container ul .correct-answer {
    background-color: #32d157;
    border-color: #c3e6cb;
  }

  .quiz-container ul li {
    text-decoration: none;
    list-style: none;
    color: #2d264b;
    font-size: 16px;
    background: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .quiz-container ul .wrong-answer {
    background-color: #d72f40;
    border-color: #f5c6cb;
  }

  .retry-button{
    float: right;
  }

  .table-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.table-container h3 {
    font-size: 24px;
    letter-spacing: 1.4px;
    text-align: center;
  }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table tbody tr:hover {
    background-color: #e6f7ff;
}
